<div *ngIf="selectedHero">
  <h1>{{ selectedHero.name | uppercase }} Details</h1>
  <label
    >Name:itmes
    <input [(ngModel)]="selectedHero.name" placeholder="name" />
  </label>
  <div><span class="badge">id:</span>{{ selectedHero.id }}</div>
  <div><span class="badge">name: </span>{{ selectedHero.name }}</div>
</div>

<h2>My heroes</h2>
<ul class="heroes" *ngFor="let hero of heros">
  <li (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <span class="badge">{{ hero.id }}</span
    >{{ hero.name }}
  </li>
</ul>
<h2>{{ item.name }}</h2>
